// SETTING PAGE:
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    section{
        overflow: hidden;
    }

// PAGE STYLE ELEMENTS:
    @import './navbar';
    @import './hero';