* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  overflow: hidden;
}

#navbar-section .navbar-container {
  background-color: #650808;
  width: 100vw;
  height: 280px;
  box-shadow: inset 0 -10px 10px -10px #fff;
}
@media screen and (max-width: 768px) {
  #navbar-section .navbar-container {
    height: 200px;
    width: 768px;
  }
}
@media screen and (max-width: 376px) {
  #navbar-section .navbar-container {
    height: 520px;
    width: 375px;
  }
}
#navbar-section .navbar-container .background-line {
  background: linear-gradient(to right, rgb(170, 16, 16), rgb(107, 9, 9), rgb(126, 41, 41), rgb(132, 23, 23));
  height: 110px;
  width: 1100px;
  position: relative;
  top: 90px;
  left: 200px;
  transform: skewX(-30deg);
}
@media screen and (max-width: 768px) {
  #navbar-section .navbar-container .background-line {
    width: 725px;
    height: 100px;
    top: 57px;
    left: 20px;
  }
}
@media screen and (max-width: 376px) {
  #navbar-section .navbar-container .background-line {
    -webkit-animation: up-down 5s alternate infinite;
            animation: up-down 5s alternate infinite;
    transition: all 2s;
  }
  @-webkit-keyframes up-down {
    from {
      top: 57px;
    }
    to {
      top: 370px;
    }
  }
  @keyframes up-down {
    from {
      top: 57px;
    }
    to {
      top: 370px;
    }
  }
}
#navbar-section .navbar-container-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 50px;
  right: 60px;
}
@media screen and (max-width: 768px) {
  #navbar-section .navbar-container-link {
    bottom: 65px;
  }
}
@media screen and (max-width: 376px) {
  #navbar-section .navbar-container-link {
    flex-direction: column;
    gap: 1rem;
  }
}
#navbar-section .navbar-container-link a {
  text-decoration: none;
}
#navbar-section .navbar-container-link a:hover img {
  background: linear-gradient(to right, #8f7048, #f2c78d, #b38f61);
}
#navbar-section .navbar-container-link-element {
  display: flex;
  align-items: center;
}
#navbar-section .navbar-container-link-element img {
  width: 250px;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(30, 30, 30, 0.658);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
@media screen and (max-width: 768px) {
  #navbar-section .navbar-container-link-element img {
    width: 170px;
    padding: 2.5rem;
  }
}
#navbar-section .navbar-container-link-element .current {
  background: linear-gradient(to right, #8f7048, #f2c78d, #b38f61);
}
#navbar-section .navbar-container-link-element .current:hover {
  background: #8f7048;
}
#navbar-section .navbar-container-link-element label {
  text-transform: uppercase;
  position: relative;
  left: 186px;
  top: 32px;
  z-index: 2;
  cursor: pointer;
  color: #650808;
  width: 104px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #navbar-section .navbar-container-link-element label {
    top: 47px;
    left: 140px;
    color: #f2c78d;
  }
}
#navbar-section .navbar-container-link-element #home-label {
  font-size: 20px;
}
#navbar-section .navbar-container-link-element #prossimamente-label {
  font-size: 11px;
}
@media screen and (max-width: 768px) {
  #navbar-section .navbar-container-link-element #prossimamente-label {
    font-size: 17px;
  }
}
#navbar-section .navbar-container-link-element #prezzi-label {
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  #navbar-section .navbar-container-link-element #prezzi-label {
    font-size: 13px;
  }
}

#hero-section .hero-section-container {
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  background-image: url(/images/dark\ projector\ .jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: black;
}
@media screen and (max-width: 376px) {
  #hero-section .hero-section-container {
    height: 800px;
  }
}
#hero-section .hero-section-container-img {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 376px) {
  #hero-section .hero-section-container-img {
    flex-direction: column;
  }
}
#hero-section .hero-section-container-img-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
  gap: 1rem;
}
#hero-section .hero-section-container-img-left #hero-section-black-logo-img {
  width: 100px;
}
#hero-section .hero-section-container-img-left #hero-section-lumiere-img {
  width: 100px;
}
#hero-section .hero-section-container-img-left #hero-section-webtic-img {
  width: 200px;
}
#hero-section .hero-section-container-img-left .prenotation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  -webkit-animation: zoom-in-out 5s ease infinite;
          animation: zoom-in-out 5s ease infinite;
}
@-webkit-keyframes zoom-in-out {
  0% {
    transform: scale(0.5, 0.5);
  }
  50% {
    transform: scale(0.7, 0.7);
  }
  100% {
    transform: scale(0.5, 0.5);
  }
}
@keyframes zoom-in-out {
  0% {
    transform: scale(0.5, 0.5);
  }
  50% {
    transform: scale(0.7, 0.7);
  }
  100% {
    transform: scale(0.5, 0.5);
  }
}
#hero-section .hero-section-container-img-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero-section .hero-section-container-img-center #hero-section-logo-img {
  width: 370px;
  position: relative;
  top: 121px;
  right: 80px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2.5px 2.5px 10px #fff;
}
@media screen and (max-width: 768px) {
  #hero-section .hero-section-container-img-center #hero-section-logo-img {
    width: 300px;
    top: 20px;
    right: 30px;
  }
}
@media screen and (max-width: 376px) {
  #hero-section .hero-section-container-img-center #hero-section-logo-img {
    left: 0px;
  }
}
#hero-section .hero-section-container-img-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
  gap: 1rem;
}
#hero-section .hero-section-container-img-right img {
  width: 70px;
}
#hero-section .hero-section-container-img-right #hero-section-fb-img {
  width: 60px;
  border-radius: 5px;
}
@media screen and (max-width: 376px) {
  #hero-section .hero-section-container-img-right {
    flex-direction: row;
  }
}

.curtain {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  overflow: hidden;
  -webkit-animation: go-back 10s ease forwards;
          animation: go-back 10s ease forwards;
}
@-webkit-keyframes go-back {
  from {
    z-index: 5;
  }
  to {
    z-index: -1;
  }
}
@keyframes go-back {
  from {
    z-index: 5;
  }
  to {
    z-index: -1;
  }
}
.curtain img {
  width: 50vw;
  height: 100vh;
}
.curtain .curtain-panel-left {
  position: relative;
  right: 0;
  -webkit-animation: open-curtain-left 5s ease forwards;
          animation: open-curtain-left 5s ease forwards;
}
@media screen and (max-width: 768px) {
  .curtain .curtain-panel-left {
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
  }
}
@-webkit-keyframes open-curtain-left {
  0% {
    right: 0;
  }
  25% {
    right: 350px;
  }
  50% {
    right: 560px;
  }
  100% {
    right: 860px;
    display: none;
  }
}
@keyframes open-curtain-left {
  0% {
    right: 0;
  }
  25% {
    right: 350px;
  }
  50% {
    right: 560px;
  }
  100% {
    right: 860px;
    display: none;
  }
}
.curtain .curtain-panel-right {
  position: relative;
  left: 0;
  -webkit-animation: open-curtain-right 5s ease forwards;
          animation: open-curtain-right 5s ease forwards;
}
@media screen and (max-width: 768px) {
  .curtain .curtain-panel-right {
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
  }
}
@-webkit-keyframes open-curtain-right {
  0% {
    left: 0;
  }
  25% {
    left: 350px;
  }
  50% {
    left: 560px;
  }
  100% {
    left: 860px;
    display: none;
  }
}
@keyframes open-curtain-right {
  0% {
    left: 0;
  }
  25% {
    left: 350px;
  }
  50% {
    left: 560px;
  }
  100% {
    left: 860px;
    display: none;
  }
}

#film-section .film-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.5rem;
  background-color: #650808;
  padding: 1.5rem;
}
@media screen and (max-width: 768px) {
  #film-section .film-section-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 376px) {
  #film-section .film-section-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
#film-section .film-section-container-info {
  background: linear-gradient(to right, #8f7048, #f2c78d, #b38f61);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 700px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(30, 30, 30, 0.658);
}
@media screen and (max-width: 376px) {
  #film-section .film-section-container-info {
    width: 300px;
  }
}
#film-section .film-section-container-info .film-card-hour {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(#0D0D0D, #262626, #404040, #262626, #0D0D0D);
  position: relative;
  bottom: 62px;
  width: 350px;
  height: 80px;
  border-radius: 10px 10px 0 0;
}
@media screen and (max-width: 376px) {
  #film-section .film-section-container-info .film-card-hour {
    width: 300px;
  }
}
#film-section .film-section-container-info .film-card-hour h1 {
  text-transform: uppercase;
  color: #fff;
}
#film-section .film-section-container-info .film-card-hour h3 {
  text-align: center;
  color: #fff;
}
#film-section .film-section-container-info .film-section-container-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#film-section .film-section-container-info .film-section-container-card #film-1-poster {
  background-image: url(/images/avatar.jpg);
  background-size: cover;
  background-position: 0 -31px;
}
#film-section .film-section-container-info .film-section-container-card #film-2-poster {
  background-image: url(/images/db\ super\ hero.jpg);
  background-size: cover;
  background-position: 0 -31px;
}
#film-section .film-section-container-info .film-section-container-card #film-3-poster {
  background-image: url(/images/dont\ worry\ darling\ .jpg);
  background-size: cover;
  background-position: 0 -68px;
}
#film-section .film-section-container-info .film-section-container-card #film-4-poster {
  background-image: url(/images/memory.jpg);
  background-size: cover;
  background-position: 0 -5px;
}
#film-section .film-section-container-info .film-section-container-card #film-5-poster {
  background-image: url(/images/watcher.jpg);
  background-size: cover;
  background-position: 0 -18px;
}
#film-section .film-section-container-info .film-section-container-card #film-6-poster {
  background-image: url(/images/ticket\ to\ paradise.jpg);
  background-size: cover;
  background-position: 0 -4px;
}
#film-section .film-section-container-info .film-section-container-card .film-img {
  width: 300px;
  height: 300px;
  position: relative;
  bottom: 4px;
}
@media screen and (max-width: 376px) {
  #film-section .film-section-container-info .film-section-container-card .film-img {
    width: 290px;
    height: 290px;
  }
}
#film-section .film-section-container-info .film-section-container-card .film-title-gender {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 1.5rem;
}
#film-section .film-section-container-info .film-section-container-card .film-title-gender .film-title {
  font-size: 35px;
  text-transform: uppercase;
  text-align: left;
  height: 80px;
  width: 270px;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 376px) {
  #film-section .film-section-container-info .film-section-container-card .film-title-gender .film-title {
    text-align: center;
    width: 300px;
    justify-content: center;
  }
}
#film-section .film-section-container-info .film-section-container-card .film-title-gender h5 {
  font-size: 15px;
}
@media screen and (max-width: 376px) {
  #film-section .film-section-container-info .film-section-container-card .film-title-gender h5 {
    text-align: center;
  }
}
#film-section .film-section-container-info .film-section-container-card .film-detail {
  padding-left: 1.25rem;
}

#prox-hero-section .prox-hero-section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 1800px;
  background-color: #000;
}
@media screen and (max-width: 768px) {
  #prox-hero-section .prox-hero-section-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 376px) {
  #prox-hero-section .prox-hero-section-container-left {
    height: 100px;
  }
}
#prox-hero-section .prox-hero-section-container-left .Words {
  position: absolute;
  bottom: 12px;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 45px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
@media screen and (max-width: 768px) {
  #prox-hero-section .prox-hero-section-container-left .Words {
    bottom: 275px;
  }
}
@media screen and (max-width: 376px) {
  #prox-hero-section .prox-hero-section-container-left .Words {
    width: 357px;
    overflow: hidden;
    font-size: 25px;
    height: 500px;
    position: absolute;
    bottom: -86px;
    right: 55px;
  }
}
#prox-hero-section .prox-hero-section-container-left .Words-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}
#prox-hero-section .prox-hero-section-container-left .Words-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.66667);
}
#prox-hero-section .prox-hero-section-container-left .Words-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.33333);
}
#prox-hero-section .prox-hero-section-container-left .Words-line:nth-child(1) {
  left: 29px;
}
#prox-hero-section .prox-hero-section-container-left .Words-line:nth-child(2) {
  left: 58px;
}
#prox-hero-section .prox-hero-section-container-left .Words-line:nth-child(3) {
  left: 87px;
}
#prox-hero-section .prox-hero-section-container-left .Words-line:nth-child(4) {
  left: 116px;
}
#prox-hero-section .prox-hero-section-container-left .Words-line:nth-child(5) {
  left: 145px;
}
#prox-hero-section .prox-hero-section-container-left .Words-line:nth-child(6) {
  left: 174px;
}
#prox-hero-section .prox-hero-section-container-left .Words-line:nth-child(7) {
  left: 203px;
}
#prox-hero-section .prox-hero-section-container-left p {
  height: 50px;
  line-height: 45px;
  padding: 0 10px;
  transition: all 0.4s ease-in-out;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
  color: #fff;
}
@media screen and (max-width: 376px) {
  #prox-hero-section .prox-hero-section-container-left p {
    width: 113px;
  }
}
#prox-hero-section .prox-hero-section-container-left .cinema-name {
  background-image: linear-gradient(to right, #8f7048, #f2c78d, #b38f61);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 376px) {
  #prox-hero-section .prox-hero-section-container-left #text-to-golden {
    visibility: hidden;
    position: relative;
  }
}
@media screen and (max-width: 376px) {
  #prox-hero-section .prox-hero-section-container-left #text-to-golden:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "golden";
    background-image: linear-gradient(to right, #8f7048, #f2c78d, #b38f61);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
#prox-hero-section .prox-hero-section-container-left .Words:hover p {
  transform: translate3d(0, -50px, 0);
}
@media screen and (max-width: 768px) {
  #prox-hero-section .prox-hero-section-container-left .Words:hover p {
    transform: none;
  }
}
#prox-hero-section .prox-hero-section-container-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 1.5rem;
}
@media screen and (max-width: 768px) {
  #prox-hero-section .prox-hero-section-container-right {
    margin-top: 10rem;
    padding-left: 3.5rem;
  }
}
@media screen and (max-width: 376px) {
  #prox-hero-section .prox-hero-section-container-right {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
    padding-top: 0;
    padding-left: 1.5rem;
  }
}
#prox-hero-section .prox-hero-section-container-right .prox-film-container-card {
  width: 300px;
  height: 500px;
  background-image: url(/images/prox\ ticket\ to\ paradise.jpg);
  background-size: 520px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
}
#prox-hero-section .prox-hero-section-container-right .prox-film-container-card .film-title-gender {
  background: linear-gradient(to right, #8f7048, #f2c78d, #b38f61);
  position: absolute;
  width: 300px;
  height: 100px;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#prox-hero-section .prox-hero-section-container-right .prox-film-container-card .film-title-gender .film-title {
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */